<!-- Navigation -->
    <nav style="font-size:20px;"class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a style="font-size:25px;" class="navbar-brand" href="/">정보통신공학과</a>
         <% if user_signed_in? %>
        <a style="font-size:15px;"  href="/mypage/index">|내정보|</a>
        <a style="font-size:15px;" href="/chat/index">|심심이|</a>
         <a style="font-size:15px;" href="/map/index">|지도|</a>
        <a style="font-size:15px;"  href="http://wku.ac.kr">|원광대학교|</a>
        <a style="font-size:15px;" href="https://www.inflearn.com/">|프로그래밍 무료강좌|</a>
        <a style="font-size:15px;" href="https://www.codecademy.com/">|코딩 무료 교육|</a>
        <a style="font-size:15px;" href="https://likelion.net/ko">|멋쟁이 사자처럼 소개|</a>
        <a style="font-size:15px;" href="/posts">|게시판|</a>
        <a style="font-size:15px;" href="/info/index">|학과 정보|</a>
        <a style="font-size:15px;" href="/competition/index">|대회및 정보|</a>
        <% else %>
        <% end %>
      </div>
    </nav>
<br><a style="font-size:15px;" href="https://post.naver.com/viewer/postView.nhn?volumeNo=17108077&memberNo=34635212&navigationType=push">부스트코스 리뷰어 모집</a><hr>
<a style="font-size:15px;" href="https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=022&aid=0003322796">5G 상용화</a>
<img src='https://imgnews.pstatic.net/image/022/2018/11/29/20181129004174_0_20181129203808816.jpg?type=w647'><hr>
<a style="font-size:15px;" href="https://www.youtube.com/watch?v=ePFHegLjQjg">(ruby on rails)심심이 만들기</a><hr>
<a href='http://www.jccia.or.kr/'><img src='http://ifh.cc/g/DqrJV.jpg' border='0'></a>
<br><div style="text-align:center" ><a style="font-size:15px;"  href="https://goo.gl/forms/fu2OmxGKXcJKwaz73">게임제작 지원 하는곳</a></div><hr>
<a href='http://www.sw-hackathon.kr/'><img src='http://ifh.cc/g/zoR8n.png' border='0'></a><hr>
<p>web 페이지 구성요소</p><hr>
<li>HTML(정적인부분)</li>
<li>CSS(디자인)</li>
<li>javascript(동적인부분)</li><hr>
<p>ASP</p><hr>
<li>일부 애플리케이션에 온라인 공급 </li><hr>
<p>SaaS</p><hr>
<li>단일 플랫폼 통해 모든 분야 적용 </li><hr>
<p>sass 와 asp 차이점</p><hr>
<li>ASP가 단순히 일부 애플리케이션 공급 방식을 온라인으로 대체하는 것이라면, 
SaaS는 기본적으로 소프트웨어의 선택 및 공급, 운영을 지원하는 단일한 플랫폼을 통해 모든 소프트웨어 영역의 서비스를 제공할 수 있다는 것이 다르다.</li>
<hr><h1>우분투 14.04 설정 커맨드</h1><hr>
<p>apt-get update</p><hr>
<li>오래된 파일 업데이트 시키는 커맨드</li><hr>
<p>apt-get install apache2</p><hr>
<li>아파치2 웹 80 서버</li><hr>
<p>apt-get install mysql-server</p><hr>
<li>데이터베이스 접속할수있는  root 권환 비밀번호 설정 및 </li><hr>
<p>apt-get install phpmyadmin </p><hr>
<li>phpmyadmin 설치 및 apache2 혹은 lighttpd 설정할수있다.</li>
