<!-- Navigation -->
    <nav style="font-size:20px;"class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a style="font-size:25px;" class="navbar-brand" href="/">정보통신공학과</a>
         <% if user_signed_in? %>
        <a style="font-size:15px;"  href="/mypage/index">|내정보|</a>
        <a style="font-size:15px;" href="/chat/index">|심심이|</a>
         <a style="font-size:15px;" href="/map/index">|지도|</a>
        <a style="font-size:15px;"  href="http://wku.ac.kr">|원광대학교|</a>
        <a style="font-size:15px;" href="https://www.inflearn.com/">|프로그래밍 무료강좌|</a>
        <a style="font-size:15px;" href="https://www.codecademy.com/">|코딩 무료 교육|</a>
        <a style="font-size:15px;" href="https://likelion.net/ko">|멋쟁이 사자처럼 소개|</a>
        <a style="font-size:15px;" href="/posts">|게시판|</a>
        <a style="font-size:15px;" href="/info/index">|학과 정보|</a>
        <a style="font-size:15px;" href="/competition/index">|대회및 정보|</a>
        <% else %>
        <% end %>
      </div>
    </nav>
<div class="container">
  <style>
       div{
         text-align: center;
         margin: 30px;
       }
</style>
<div>
    <h1>정보통신공학과란?</h1>

<li>정보통신공학과에 입학할 경우 회로 이론, 데이터 통신, 정보기술 개론, 임베디드 시스템, 이동 통신 시스템, 정보 통신 기기, 정보보안, 네트워크 프로그래밍, 전자 회로, 정보 통신 시스템, 네트워크 및 보안, 멀티미디어 통신 등의 과목을 배웁니다.</li>

<h2>학과개요</h2>

<li>정보 전달은 정보화 사회의 핵심입니다. 질 좋은 정보를 발굴하여, 수요자에게 신속하고 정확히 전달해야 합니다.
정보·통신공학과는 정보를 효율적으로 전달하는 방법을 배우는 곳입니다. 이 학과는 유·무선과 컴퓨터 통신기술을 활용하여 정보를 전달하는 방법을 실천하는 인력을 양성합니다.</li>

<h3>학과특성</h3>

<li>정보통신은 인간의 중추신경과 같이 중요한 도구입니다. 신속하고 정확하게 정보를 전달하는 일이 중요해지면서 정보통신공학의 필요성도 날로 높아지고 있습니다. 특히, 정보통신은 신성장 동력 산업으로서 지속적으로 팽창하고 있으며, 앞으로 이 분야에 대한 새로운 직업과 일자리도 늘어날 전망입니다.</li><br>

<h4>공부하는 주요과목<h4><br>

<p style="font-size:20px;">정보통신공학개론</p>
<li style="font-size:15px;">  정보통신공학 전반에 대한 기본 개념을 다루며 주요내용은 데이터 통신 컴퓨터 통신망 신호의 개념과 변조 및 복조, LAN과 WAN, 그리고 인터넷 이용법 등을 배웁니다.</li>
<br><p style="font-size:20px;">C프로그래밍</p>
<li style="font-size:15px;">  실세계의 문제를 어떻게 컴퓨터를 이용하여 풀 것인가를 대해 일반적인 원칙과 이론을 학습하고, 효과적이고 효율적인 프로그램을 개발할 수 있는 기초 능력을 배웁니다.</li>
<br><p style="font-size:20px;">공업수학</p>
<li style="font-size:15px;">  공학문제의 해결을 위한 정량적인 도구로서 상미분 방정식과 벡터해석을 다루고 Fourier 급수 및 변환, 편미분 방정식, 복소수 및 복소함수의 미적분 등을 다룹니다.</li>
<br><p style="font-size:20px;">창의적 정보통신공학설계</p> 
<li style="font-size:15px;">  공학설계의 기본 개념, 체계적 설계절차, 설계의 창의성 등을 학습하고, 그룹별 프로젝트를 통해 직접 이를 경험하여 통합적 설계능력을 습득하도록 합니다.</li>
<br><p style="font-size:20px;">회로이론</p>
<li style="font-size:15px;"> 키르히호프 법칙을 기반으로한 기본적인 회로분석 기법을 소개하며, 이를 응용한 보다 고차원적인 회 로분석기법을 DC회로를 대상으로 배웁니다.</li>

<h5>마일리지제 시행</h5>
<a  href="http://abeek.wonkwang.ac.kr/OpenWeb/WONKWANG/sub_06/05.html">http://abeek.wonkwang.ac.kr/OpenWeb/WONKWANG/sub_06/05.html</a>



<br></br><h6>졸업 후 진출분야</h6>
<p>  기업체</p>
<li>정보통신 기기 제조업체, IT업체, 네트워크 및 통신업체, 시스템 통합업체, 정보통신 서비스 업체, 금융기관, 방송국</li>
<p>  연구소</p>
<li>정보통신 관련 국가 연구소, 정보통신 관련 민간 기업 연구소</li>
<p>  정부 및 공공기관</p>
<li>정부의 정보통신 관련 부서, 정보 통신 관련 공공기관</li>
<br>
<h6>자격증 분야</h6>

<p>유무선통신부터 전기전자, 전산 분야까지 다양하게 배우기 때문에 전기기사부터 정보처리기사까지 여러 자격증을 취득할 수 있습니다.</p>
<li> 정보통신기사</li>
<li>  무선설비기사</li>
<li>  방송통신기사</li>
<li>  전파전자통신기사</li>
<li>  통신설비기능장</li>
<li>  네트워크관리사</li>
<li>  전산회계</li><br>
<h1>교과 과정</h1></br>
<a href='http://ifh.cc/l-3pZen'><img src='http://ifh.cc/g/3pZen.png' border='0'></a>
<h1>비교과 과정</h1></br>
<a href='http://ifh.cc/l-n7o8t'><img src='http://ifh.cc/g/n7o8t.png' border='0'></a>
</br><a href="http://abeek.wonkwang.ac.kr/OpenWeb/WONKWANG/sub_03/05/02.html">출처)http://abeek.wonkwang.ac.kr/OpenWeb/WONKWANG/sub_03/05/02.html
     원광대학교 공학인증교육시스템</a></div>


